<div>
  <input [(ngModel)]="username" placeholder="Username" />
  <input [(ngModel)]="password" type="password" placeholder="Password" />
  <button (click)="login()">Login</button>
  <button (click)="logout()">Logout</button>
</div>


<div id="g_id_onload"
     data-client_id="48205785028-v3b6dpm7qml77j5h5dirnl480he05gmk"
     data-callback="handleCredentialResponse"
     data-auto_select="true"
     data-cancel_on_tap_outside="false">
</div>



<!-- Bottone di login opzionale -->
<div class="g_id_signin"
     data-type="standard"
     data-size="large"
     data-theme="outline"
     data-text="signin_with"
     data-shape="rectangular">
</div>
