<header class="bg-black p-3 mb-4 text-white">

  <!-- "container" contiene e centra il contenuto rispetto al viewport -->
  <div class="container">

    <nav class="text-center text-white-50">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <!-- "nav-link" per lo stile dei link -->
          <a class="nav-link" href="home">Home</a>
          <a class="nav-link" href="ristoranti">Ristoranti</a>
          <a class="nav-link" href="piatti">Piatti</a>
        </li>
      </ul>
    </nav>

    @if (user){
      <div   class="text-end mt-3">
        <span> {{ user.username }}</span>
        <button class="btn btn-outline-light btn-sm ms-2" (click)="logout()">Logout</button>
      </div>
    } @else {
      <a routerLink="/login">login</a>
    }

  </div>
</header>

<router-outlet>
</router-outlet>

